@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 3rem;
}

.box:nth-child(3n+1) {
    border-left: none;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(n+7) {
    border-bottom: none;
}

.box:nth-child(n-6) {
    border-top: none;
}

.box:hover {
    opacity: 30%;
}